# Colcon
build/
install/
log/

# Ros / editor junk
*.log
*.swp
*.swo
*.vscode/
.idea/


# Python
__pycache__/

# OS junk
.DS_Store
*.bak
*.orig

# Gazebo / cache
*.db

# Ignore SDF everywhere
# *.sdf

# # But track Gazebo world files
# !src/car_washing_robot_bringup/worlds/*.sdf